body,
#sidebar,
#navbar {
    min-height: 100vh;
}

#sidebar {
    width: 220px;
}

#nav-search {
    display: block;
}

@media screen and (max-width: 991px) {
    #sidebar {
        width: 0;
        border: none !important;
        padding: 0;
    }

    #nav-search,
    #search-roles,
    #search-status {
        display: none !important;
    }
}
