body,
#sidebar,
#navbar {
    min-height: 100vh;
}

#sidebar {
    width: 220px;
}

#nav-search {
    display: block;
}

#closeSidebar {
    display: none;
}

.hidden {
    opacity: 0;
    transition: opacity 1s;
}

.visible {
    transition: opacity 1s;
    opacity: 1;
}

@media screen and (max-width: 991px) {
    #sidebar {
        width: 0;
        border: none !important;
        padding: 0;
    }

    #closeSidebar {
        display: block;
    }

    #nav-search,
    .span-text-new-item {
        display: none !important;
    }
}
